#game-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 90vh;
    margin: auto;
    margin-top: 2vh;
}

#top-half {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

#top-half > * {
    height: auto;
    margin-bottom: 2.5vh;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#screen {
    width: 60%;
}

#character {
    width: 35%;
}

#bottom-half {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}