form {
    position: absolute;
    width: 200px;
    height: 22vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2% 6% 2% 6%;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#remember-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 3.5%;
    margin-top: 2%;
    background-color: var(--white);
}

input[type=checkbox] {
    margin: 0;
    padding: 0;
    margin-right: 5%;
    margin-top: -3px;
    box-shadow: none;
    accent-color: var(--red);
}