:root {
    --black: rgb(19, 7, 12);
    --red: rgb(164, 25, 16);
    --white: rgb(255, 248, 240);
    --gold: rgb(203, 163, 40);
    --orange: rgb(213, 137, 54);
    --border: 2px solid var(--red);
    --border-radius: 5px;
    --box-shadow: 0 0 10px 5px var(--red), inset 0 0 10px 3px var(--red);
}

@font-face {
    font-family: dungeon font;
    src: url(../Assets/Fonts/DUNGRG__.TTF);
}

html {
    font-family: dungeon font;
}

body {
    margin: 0;
    background-color: var(--black);
}